.big-card{
  border: 5px solid #FFFFFF;
  border-radius: 30px;
  height: 80vh;
  overflow: hidden;
  background: #FCFBFC;
}
.App{
  padding: 10vh;
  height: 100vh;
  background-color: #F1F2F6;
}
.navbar-custom{
  /* background: black; */
  /* padding-left: 500px; */
}
.signUp{
  background-color: #4CE895;
  padding: 10px;
  border-radius: 5px;
}
.login{
  padding: 10px;
}

.homeDiv{
  padding-top: 20px;
}
.imageDiv{
  width: 200px;
  margin: auto;
}
.girlImage{
  width: 100%;
}
.paddingTop{
  padding-top: 10px;
}
.form-control{
  line-height: 20px !important;
}
label{
  font-size: 0.8rem;
}